<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
<style type="text/css"> 
</style>
</head>
<body>
<form></form>
<div id="rrapp" v-cloak>

	<div>
		<div class="grid-btn">
			<div class="form-group col-sm-2">
	          <input type="text" class="form-control" v-model="q.campNm" @keyup.enter="query" placeholder="群组名称">
	        </div>
	        <a class="btn btn-default" @click="query">查询</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    
    <div v-show="!showList" class='cus-p-diag'>
    <div class="panel panel-default cusdialog">
		<div class="panel-heading">
			<span class="title_label">{{title}}</span>
			<input type="button" class="btn btn-warning btn-close"  @click="closed"  value="关闭" />
		</div>
		<form class="form-horizontal">
			
			<div class="form-group" v-if="!showLoading" style="text-align:center">
			   	<div v-html="showMsg"></div>
			</div>
			
			<div v-if="showLoading" style="text-align:center">
				<span v-html="showMsg"></span>
			</div>
            <div class="form-group"></div>
			
			<div class="form-group" style="text-align:center">
				<div v-if="!showLoading">
					<input type="button" class="btn btn-primary" @click="downLoadSend" value="确定" />
	            	&nbsp;&nbsp;
	            	<input type="button" class="btn btn-warning"  @click="closed"  value="取消" />
				</div>
				<div v-if="showLoading">
	            	<input type="button" class="btn btn-warning"  @click="closed"  value="取消" />
				</div>
			</div>
		</form>
		
	</div>
	</div>
	
	
</div>
<script src="${rc.contextPath}/js/userGroup/microscopicPicture.js?_${date.systemTime}"></script>
</body>
</html>